<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lilei.iplay.model.Food">

    <resultMap type="Food" id="foodMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="food_surface" property="foodSurface"/>
        <result column="content" property="content"/>
        <result column="publish_time" property="publishTime"/>
    </resultMap>

    <resultMap type="com.lilei.iplay.model.FoodDescribeVo" id="foodDescribeVoMap" extends="foodMap">
        <result column="head_pic_url" property="headPicUrl"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>

    <select id="findFoodDescribes" resultMap="foodDescribeVoMap">
        <![CDATA[
            SELECT
                f.id,
                f.title,
                f.food_surface,
                f.content,
                f.publish_time,
                u.head_pic_url,
                u.nick_name
            FROM
                food f, user u
            WHERE
                f.user_id = u.id
            ORDER BY
                f.publish_time desc
        ]]>
    </select>
</mapper>
