<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lilei.iplay.model.User">

    <resultMap type="User" id="userMap">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="head_pic_url" property="headPicUrl"/>
        <result column="nick_name" property="nickName"/>
        <result column="phone_number" property="phoneNumber"/>
    </resultMap>

    <select id="findUserPhoneNumber" resultType="String">
        <![CDATA[
            SELECT
                phone_number
            FROM
                user
        ]]>
    </select>

    <insert id="saveUserInfo" parameterType="map" useGeneratedKeys="true" keyProperty="user.id">
        <![CDATA[
            INSERT
            INTO
                user
                (
                    nick_name,
                    password,
                    email,
                    head_pic_url,
                    phone_number
                )
            VALUES
            (
                #{user.nickName},
                #{user.password},
                #{user.email},
                #{user.headPicUrl},
                #{user.phoneNumber}
            )
        ]]>
    </insert>

    <select id="getUserByPhoneNumerPassword" parameterType="map" resultMap="userMap">
        <![CDATA[
            SELECT
                id,
                nick_name,
                password,
                email,
                head_pic_url,
                phone_number
            FROM
                user
            WHERE
                phone_number = #{phoneNumber}
                AND
                password = #{password}
        ]]>
    </select>
</mapper>

